<p><%= icon 'far', 'user' %>
  <%= recipe.user.name %>さんのレシピ
  <%= link_to user_path(recipe.user), class: 'text-decoration-none link' do %>
    <br><%= recipe.user.name %>さんの他のレシピを見る
  <% end %>
</p>
<% if current_user.favorite?(recipe) %>
  お気に入り <%= render 'unfavorite', { recipe: recipe } %>
<% else %>
  お気に入り <%= render 'favorite', { recipe: recipe } %>
<% end %>