<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h3>新規レシピ投稿</h3>
      <%= form_with(model: @recipe, local: true) do |f| %>
        <%= render 'layouts/error_messages', object: f.object %>
        <div class="form-group">
          <h4><%= f.label :name %></h4>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <%= f.label :image %>
        <%= f.file_field :image, id: :recipe_img %>
        <div>
        <% if @recipe.image.present? %>
          <%= image_tag @recipe.image, id: :img_prev, size: '300x200' %>
        <% else %>
          <%= image_tag "sample_recipe.jpeg", id: :img_prev, size: '300x200' %>
        <% end %>
        </div>
        <br>
        <%= f.label :category %>
        <%= f.select :category, Recipe.categories_i18n.invert %>
        <br>
        <%= f.label :survings %>
        <%= f.number_field :survings, min: 1, max: 20 %>
        <div class="ingredient">
          <h4>材料</h4>
          <%= f.fields_for :ingredients do |form| %>
            <%= render "ingredient_fields", f: form %>
          <% end %>
          <div class="add-links">
            <%= link_to_add_association "材料を追加", f, :ingredients %>
          </div>
        </div>
        <div class="spice">
          <h4>スパイス</h4>
          <%= f.fields_for :spices do |form| %>
            <%= render "spice_fields", f: form %>
          <% end %>
          <div class="add-links">
            <%= link_to_add_association "スパイスを追加", f, :spices %>
          </div>
        </div>
        <div class="step">
          <h4>作り方</h4>
          <%= f.fields_for :steps do |form| %>
            <%= render "step_fields", f: form %>
          <% end %>
          <div class="add-links">
            <%= link_to_add_association "手順を追加", f, :steps %>
          </div>
        </div>
        <div class="actions text-center">
          <%= f.submit "レシピを投稿", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#recipe_img").change(function(){
        readURL(this);
    });
  });
</script>