<div class="container">
  <% if @user.image? %>
    <%= image_tag @user.image.url, size: '250x250' %>
  <% else %>
    <%= image_tag 'user_icon.png', size: '250x250' %>
  <% end %>
  <p><%= @user.name %>さんのレシピ一覧</p>
  <div class="recipes">
    <% @recipes.each do |recipe| %>
      <%= link_to(recipe_path(recipe)) do %>
        <div class="recipe">
          <%= image_tag recipe.image.url, size: '250x250' %>
          <p><%= recipe.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>